@font-face {
    font-family: 'NoMoreHeroesFont';
    src: url('D:\\Fonts\\ARCADE.TTF') format('woff2'),
         url('D:\\Fonts\\ARCADE.TTF') format('woff');
    font-weight: normal;
    font-style: normal;
  }